* {
    margin: 0px;
    padding: 0px;
    font-family: 'Arial Narrow', Arial, sans-serif;
}

header {
    background-color: black;
    color: white;
    font-size: 50px;
    margin: 0px 200px;
}

nav {
    background-color: white;
    color: black;
    text-align: center;
    font-size: 30px;
    margin: 0px 200px;
    font-weight: bold;
}

.mainArea {
    display: flex;
    margin: 0px 200px;
}

.smallProfile {
    flex: 1;
    border: 1px solid black;
    height: 275px;
    width: 200px;
    text-align: center;
    /* margin: 0px 200px 0px 0px; */
}

#avatarLink {
    font-weight: bold;
    color: cornflowerblue;
    font-size: 30px;
    margin: 50px;
}

#smallUserName {
    margin: 20px 5px;
    font-size: 30px;
    font-weight: bold;

}

#smallUserPic {
    height: 100px;
    width: 100px;
    margin: 20px 50px;
    border: 3px solid black;
    border-radius: 50px;
}

.feed {
    flex: 4;
}


.userBox {
    height: auto;
    width: auto;
    margin: 20px 100px;
    padding: 10px;
    font-weight: bold;
    border: 1px solid black;
}

.topLine {
    display: flex;
    justify-content: space-between;
    margin: 5px;
}

.likeButton {
    padding: 0px 5px;
    background-color: goldenrod;
    box-shadow: 1px 1px black;
}

.comment {
    margin: 5px;
}
